* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: white;
}
.s-RelatedPosts {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 30px;
}

.s-Heading {
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  color: #2e3138;
}
.s-Date {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #5c6370;
}
.s-Category {
  text-decoration: none;
  color: #499def;
}
.s-Deatail {
  color: #499def;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.s-Description {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #5c6370;
  margin-bottom: 70px;
}

.fa-solid {
  color: #499def;
}
.s-Post {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.s-Post__content {
  padding: 16px;
}
.s-HeaderImage {
  height: 300px;
}
.s-Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
main {
  padding: 1rem;
  max-width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
